/* .popular-movies-container {
display: flex;
flex-direction: column;
align-items: center;
margin: 5%;
margin-top: 1%;
}

.popular-movies-heading {
margin-bottom: 20px;
font-size: xx-large;
}

.popular-movies-grid {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-gap: 20px;
padding: 10px;
}


.popular-movie-item {
display: flex;
flex-direction: column;
align-items: center;
border-radius: 50px;
}
.popular-movie-item img {
width: 80%;
border-radius: 20px;
}

.load-more-btn-container {
margin-top: 20px;
}

.load-more-btn {
font-size: 16px;
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.load-more-btn:hover {
background-color: #0069d9;
} */

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

.popular-movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.popular-movies-heading {
  margin-bottom: 10px;
  font-size: xx-large;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.popular-movies-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-gap: 20px;
  padding: 10px;
}

.popular-movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid; */
}
.popular-movie-item img {
  width: 80%;
  border-radius: .5rem;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
.popular-movie-item img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.popular-movie-item img:active {
    box-shadow: none;
    transform: translateY(0);
}



.popular-movie-item h3 {
  width: 80%;
  border-radius: 5px;
  font-size: 1.8rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #1e1e1e;
  font-family: Arial, Helvetica, sans-serif;
}

.load-more-btn-container {
  margin-top: 20px;
}

.load-more-btn {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-btn:hover {
  background-color: #0069d9;
}
